.container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: hidden;
}

.toolTip {
  height: 100%;
  order: 1;
}

.chartDiv {
  position: relative;
  margin-top: 0;
  order: -1;
}

.svgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 10;
}

.chartDiv .graphCanvas {
  position: absolute;
  z-index: 10;
}

.chartDiv .overlayCanvas {
  position: absolute;
  pointer-events: none;
  z-index: 15;
}

@media (max-width: 1076px) {
  .container {
    flex-direction: column;
    align-items: center;
    /* height: auto; ask dawoon */
  }
  .chartDiv {
    order: 1;
  }
  .toolTip {
    order: -1;
    height: 30%;
  }
}

@media (max-width: 576px) {
  .chartDiv {
    max-width: 90%;
  }
}
